# Task:
You have been hired by this advertising agency to assess the scope of revenue that can be generated by a proposed ad. Based on the demographic information provided, you need to predict whether the revenue generated will cover costs to produce and air the ad. This will help guide decision making for the firm, as they will want to pursue ads that are likely to generate a net gain for their clients— thereby bolstering the advertising firm’s reputation.

# UNIT-1: Importing Libraries

In [94]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# UNIT-2: Data Preprocessing

In [2]:
traindf = pd.read_csv(r'C:\Users\kshit\OneDrive\Desktop\ML DATASETS\predict ad hackerank\Train.csv')
print(traindf)

          id    realtionship_status       industry        genre targeted_sex  \
0      19717  Married-spouse-absent           Auto       Comedy         Male
1      31593     Married-civ-spouse         Pharma       Comedy         Male
2       5681               Divorced  Entertainment       Comedy       Female
3      15491              Separated      Political  Infomercial       Female
4      23587     Married-civ-spouse         Pharma       Comedy         Male
5      28523               Divorced           Auto       Comedy       Female
6      12290     Married-civ-spouse         Pharma  Infomercial         Male
7      20866          Never-married      Political  Infomercial         Male
8      21312     Married-civ-spouse         Pharma       Comedy         Male
9      16479          Never-married    ClassAction       Comedy       Female
10      9875          Never-married      Political  Infomercial         Male
11     23314          Never-married           Auto       Comedy       Female
12      9457     Married-civ-spouse         Pharma       Comedy         Male
13      6387          Never-married      Political  Infomercial         Male
14     10499          Never-married      Political       Comedy         Male
15     27353  Married-spouse-absent      Political       Comedy         Male
16        52     Married-civ-spouse         Pharma       Comedy         Male
17      5380     Married-civ-spouse         Pharma       Comedy         Male
18      7209     Married-civ-spouse      Political        Drama         Male
19      7660     Married-civ-spouse         Pharma       Comedy         Male
20     26880     Married-civ-spouse         Pharma       Comedy         Male
21     10217     Married-civ-spouse         Pharma       Comedy         Male
22     12594     Married-civ-spouse         Pharma       Comedy         Male
23     17290          Never-married      Political       Comedy       Female
24     29820                Widowed  Entertainment  Infomercial       Female
25     28656          Never-married  Entertainment  Infomercial       Female
26     23030     Married-civ-spouse         Pharma       Comedy         Male
27      5834               Divorced           Auto       Comedy       Female
28     10943     Married-civ-spouse         Pharma       Comedy         Male
29     12404          Never-married      Political       Comedy       Female
...      ...                    ...            ...          ...          ...
26018  13516     Married-civ-spouse         Pharma       Comedy         Male
26019  13986          Never-married      Political       Comedy       Female
26020  20293          Never-married      Political       Comedy         Male
26021  30938     Married-civ-spouse         Pharma       Comedy         Male
26022  21575          Never-married      Political       Comedy         Male
26023   2005              Separated  Entertainment       Comedy       Female
26024   2227     Married-civ-spouse         Pharma       Comedy         Male
26025  32186     Married-civ-spouse         Pharma       Comedy         Male
26026  10817     Married-civ-spouse         Pharma       Comedy         Male
26027  13093          Never-married           Auto       Comedy         Male
26028  10397          Never-married           Auto       Comedy         Male
26029  14055               Divorced  Entertainment       Comedy       Female
26030  19374          Never-married      Political       Comedy         Male
26031  23099     Married-civ-spouse         Pharma       Comedy         Male
26032  30927     Married-civ-spouse         Pharma       Comedy         Male
26033   9543               Divorced           Auto       Comedy         Male
26034    679     Married-civ-spouse         Pharma       Comedy         Male
26035  22422          Never-married      Political       Comedy       Female
26036  26704               Divorced  Entertainment       Comedy       Female
26037  28446                Widowed  Entertainment       Comedy       Female
26038  17934          Never-married      Political       Comedy       Female
26039   9921          Never-married      Political       Comedy         Male
26040  28684               Divorced           Auto       Comedy       Female
26041   1933     Married-civ-spouse         Pharma       Comedy         Male
26042  10827     Married-civ-spouse         Pharma       Comedy         Male
26043  16009     Married-civ-spouse         Pharma       Comedy         Male
26044  17241          Never-married           Auto       Comedy       Female
26045   2295     Married-civ-spouse          Other       Comedy       Female
26046  17902          Never-married           Auto       Comedy       Female
26047  30877     Married-civ-spouse         Pharma  Infomercial         Male

       average_runtime(minutes_per_week)    airtime  \
0                                     45  Primetime
1                                     45  Primetime
2                                     45  Primetime
3                                     40  Primetime
4                                     48  Primetime
5                                     40  Primetime
6                                     50    Morning
7                                     40  Primetime
8                                     40    Morning
9                                     35    Morning
10                                    20  Primetime
11                                    25    Morning
12                                    72    Daytime
13                                    48    Morning
14                                    35  Primetime
15                                    40    Morning
16                                    40  Primetime
17                                    56    Morning
18                                    40    Morning
19                                    45  Primetime
20                                    50  Primetime
21                                    60    Daytime
22                                    25    Daytime
23                                    35    Morning
24                                    20  Primetime
25                                    40    Morning
26                                    40  Primetime
27                                    50    Morning
28                                    45  Primetime
29                                    24    Morning
...                                  ...        ...
26018                                 65  Primetime
26019                                 13    Morning
26020                                 40    Morning
26021                                 50  Primetime
26022                                 25    Morning
26023                                 40    Morning
26024                                 40  Primetime
26025                                 60  Primetime
26026                                 16    Daytime
26027                                 44    Morning
26028                                 40    Morning
26029                                 40  Primetime
26030                                 40    Morning
26031                                 40  Primetime
26032                                 40    Morning
26033                                 24  Primetime
26034                                 40  Primetime
26035                                  6    Morning
26036                                 40  Primetime
26037                                 40  Primetime
26038                                 40    Morning
26039                                 40    Morning
26040                                 40  Primetime
26041                                 40    Morning
26042                                 45  Primetime
26043                                 50  Primetime
26044                                 40    Morning
26045                                 25  Primetime
26046                                 48    Morning
26047                                 40  Primetime

                      airlocation   ratings expensive money_back_guarantee  \
0                   United-States  0.027465      High                   No
1                   United-States  0.027465       Low                   No
2                   United-States  0.027465      High                  Yes
3                   United-States  0.027465       Low                   No
4                   United-States  0.027465      High                   No
5                   United-States  0.027465       Low                  Yes
6      Outlying-US(Guam-USVI-etc)  0.027465      High                   No
7                   United-States  0.027465       Low                  Yes
8                   United-States  0.027465      High                   No
9                   United-States  0.027465       Low                   No
10                  United-States  0.027465      High                   No
11                  United-States  0.027465       Low                   No
12                  United-States  0.057643       Low                  Yes
13                  United-States  0.027465       Low                   No
14                  United-States  0.027465       Low                   No
15                  United-States  0.027465      High                   No
16                         Mexico  0.027465      High                  Yes
17                  United-States  0.173580    Medium                   No
18                           Laos  0.027465       Low                  Yes
19                  United-States  0.027465       Low                   No
20                  United-States  0.027465    Medium                   No
21                  United-States  0.118748      High                   No
22                  United-States  0.027465       Low                   No
23                  United-States  0.027465       Low                  Yes
24                  United-States  0.027465       Low                  Yes
25                  United-States  0.027465       Low                   No
26                  United-States  0.027465       Low                  Yes
27                  United-States  0.027465       Low                  Yes
28                  United-States  0.027465       Low                  Yes
29                  International  0.027465       Low                  Yes
...                           ...       ...       ...                  ...
26018               United-States  0.027465       Low                   No
26019               United-States  0.027465       Low                  Yes
26020               United-States  0.027465    Medium                  Yes
26021               United-States  0.027465      High                   No
26022               United-States  0.027465    Medium                   No
26023               United-States  0.027465       Low                  Yes
26024               United-States  0.027465       Low                  Yes
26025               United-States  0.054978       Low                   No
26026               United-States  0.064596       Low                  Yes
26027               United-States  0.027465    Medium                   No
26028               United-States  0.027465       Low                   No
26029               United-States  0.027465       Low                   No
26030               United-States  0.027465       Low                   No
26031               United-States  0.027465       Low                  Yes
26032               United-States  0.027465       Low                  Yes
26033               United-States  0.027465       Low                  Yes
26034               United-States  0.027465       Low                  Yes
26035               United-States  0.027465    Medium                   No
26036               United-States  0.027465       Low                   No
26037               United-States  0.027465       Low                  Yes
26038               United-States  0.027465       Low                  Yes
26039               United-States  0.027465       Low                  Yes
26040               United-States  0.027465       Low                  Yes
26041               United-States  0.027465       Low                  Yes
26042               United-States  0.027465      High                   No
26043               United-States  0.027465       Low                   No
26044               United-States  0.027465       Low                   No
26045               United-States  0.102234       Low                   No
26046               United-States  0.027465       Low                  Yes
26047               United-States  0.027465       Low                  Yes

       netgain
0        False
1        False
2        False
3        False
4         True
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17        True
18       False
19        True
20       False
21        True
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
...        ...
26018     True
26019    False
26020    False
26021     True
26022    False
26023    False
26024    False
26025    False
26026    False
26027    False
26028    False
26029    False
26030    False
26031    False
26032    False
26033    False
26034    False
26035    False
26036    False
26037    False
26038    False
26039    False
26040    False
26041    False
26042    False
26043     True
26044    False
26045     True
26046    False
26047    False

[26048 rows x 12 columns]

In [3]:
testdf = pd.read_csv(r'C:\Users\kshit\OneDrive\Desktop\ML DATASETS\predict ad hackerank\Test.csv')
print(testdf)

         id realtionship_status       industry        genre targeted_sex  \
0         1             Widowed           Auto       Comedy       Female
1         4  Married-civ-spouse         Pharma       Comedy         Male
2         5            Divorced  Entertainment       Comedy       Female
3         9  Married-civ-spouse         Pharma  Infomercial         Male
4        10  Married-civ-spouse         Pharma       Comedy         Male
5        20       Never-married  Entertainment       Comedy       Female
6        28            Divorced           Auto       Comedy         Male
7        31            Divorced           Auto       Comedy         Male
8        32            Divorced      Political       Comedy         Male
9        34             Widowed  Entertainment       Comedy       Female
10       35            Divorced           Auto  Infomercial       Female
11       37  Married-civ-spouse         Pharma       Direct         Male
12       42  Married-civ-spouse         Pharma       Comedy         Male
13       44       Never-married           Auto       Comedy       Female
14       48       Never-married      Political       Comedy         Male
15       53  Married-civ-spouse         Pharma       Comedy         Male
16       56             Widowed           Auto        Drama       Female
17       68       Never-married           Auto       Comedy       Female
18       69  Married-civ-spouse         Pharma       Comedy         Male
19       71       Never-married    ClassAction       Comedy         Male
20       93  Married-civ-spouse         Pharma       Comedy         Male
21      102           Separated  Entertainment       Comedy       Female
22      112           Separated           Auto       Comedy       Female
23      113  Married-civ-spouse         Pharma       Comedy         Male
24      118       Never-married           Auto       Comedy         Male
25      121  Married-civ-spouse         Pharma       Comedy         Male
26      127  Married-civ-spouse         Pharma       Comedy         Male
27      146  Married-civ-spouse         Pharma       Comedy         Male
28      158       Never-married    ClassAction  Infomercial       Female
29      166       Never-married      Political       Comedy         Male
...     ...                 ...            ...          ...          ...
6483  32406  Married-civ-spouse          Other       Comedy       Female
6484  32408  Married-civ-spouse         Pharma       Comedy         Male
6485  32410  Married-civ-spouse         Pharma       Comedy         Male
6486  32416  Married-civ-spouse         Pharma       Comedy         Male
6487  32429  Married-civ-spouse         Pharma       Comedy         Male
6488  32436  Married-civ-spouse         Pharma       Comedy         Male
6489  32448       Never-married           Auto       Comedy       Female
6490  32449       Never-married           Auto       Comedy         Male
6491  32456       Never-married           Auto       Comedy         Male
6492  32457       Never-married           Auto       Comedy         Male
6493  32459  Married-civ-spouse          Other       Comedy       Female
6494  32460            Divorced  Entertainment       Comedy       Female
6495  32476           Separated           Auto       Comedy       Female
6496  32484       Never-married      Political        Drama         Male
6497  32492  Married-civ-spouse         Pharma       Comedy         Male
6498  32501            Divorced           Auto       Comedy       Female
6499  32502  Married-civ-spouse         Pharma       Comedy         Male
6500  32503  Married-civ-spouse         Pharma       Comedy         Male
6501  32507            Divorced           Auto       Comedy         Male
6502  32509  Married-civ-spouse         Pharma       Comedy         Male
6503  32516  Married-civ-spouse         Pharma       Comedy         Male
6504  32518       Never-married      Political       Comedy       Female
6505  32525  Married-civ-spouse         Pharma       Comedy         Male
6506  32528  Married-civ-spouse         Pharma       Comedy         Male
6507  32536       Never-married      Political        Drama       Female
6508  32538       Never-married      Political       Comedy         Male
6509  32542       Never-married      Political       Comedy         Male
6510  32549       Never-married      Political       Comedy         Male
6511  32558  Married-civ-spouse         Pharma       Comedy         Male
6512  32560  Married-civ-spouse         Pharma  Infomercial         Male

      average_runtime(minutes_per_week)    airtime    airlocation   ratings  \
0                                    10    Daytime  United-States  0.027465
1                                    40    Morning  United-States  0.056262
2                                    50    Morning  United-States  0.027465
3                                    40  Primetime  United-States  0.027465
4                                    40  Primetime  United-States  0.027465
5                                    40  Primetime  United-States  0.027465
6                                    40  Primetime  United-States  0.063196
7                                    40  Primetime  United-States  0.027465
8                                    25    Morning  United-States  0.027465
9                                    60  Primetime  United-States  0.027465
10                                   24  Primetime  United-States  0.027465
11                                    2    Daytime  United-States  0.027465
12                                   55  Primetime  United-States  0.027465
13                                   46    Morning          Italy  0.048608
14                                   25    Morning  United-States  0.027465
15                                   35    Morning  United-States  0.027465
16                                   45    Daytime    Philippines  0.027465
17                                   40    Morning  United-States  0.027465
18                                   40  Primetime  United-States  0.027465
19                                   25    Daytime  International  0.027465
20                                   45  Primetime  United-States  0.027465
21                                   40  Primetime  United-States  0.027465
22                                   40  Primetime  United-States  0.159245
23                                   40  Primetime  United-States  0.027465
24                                   40    Morning        Ecuador  0.027465
25                                   40  Primetime  United-States  0.027465
26                                   45  Primetime  United-States  0.027465
27                                    8    Daytime  United-States  0.027465
28                                   20    Morning  United-States  0.027465
29                                   30    Morning  United-States  0.027465
...                                 ...        ...            ...       ...
6483                                 25  Primetime  United-States  0.027465
6484                                 46  Primetime  United-States  0.027465
6485                                 15  Primetime  United-States  0.027465
6486                                 40  Primetime  United-States  0.027465
6487                                 50  Primetime  United-States  0.102234
6488                                 55    Daytime  United-States  0.027465
6489                                 28    Morning  United-States  0.027465
6490                                 90    Morning  United-States  0.027465
6491                                 50    Morning  United-States  0.072688
6492                                 38  Primetime  United-States  0.027465
6493                                 40    Morning  United-States  0.027465
6494                                 35  Primetime  United-States  0.027465
6495                                 30  Primetime  United-States  0.027465
6496                                 30    Morning  United-States  0.027465
6497                                 72  Primetime  United-States  0.027465
6498                                 40  Primetime  United-States  0.027465
6499                                 50  Primetime  United-States  0.027465
6500                                 40  Primetime  United-States  0.027465
6501                                 40  Primetime  United-States  0.072688
6502                                 50    Daytime  United-States  0.027465
6503                                 30  Primetime  United-States  0.027465
6504                                 10    Morning  United-States  0.027465
6505                                 42    Morning  United-States  0.027465
6506                                 45  Primetime  United-States  0.027465
6507                                 32    Morning    Philippines  0.051418
6508                                 40    Morning  United-States  0.027465
6509                                 80    Morning  United-States  0.027465
6510                                 40    Morning  United-States  0.027465
6511                                 40  Primetime  United-States  0.027465
6512                                 40  Primetime  United-States  0.027465

     expensive money_back_guarantee
0          Low                   No
1         High                  Yes
2          Low                   No
3          Low                   No
4          Low                  Yes
5          Low                   No
6         High                  Yes
7          Low                  Yes
8          Low                  Yes
9          Low                  Yes
10      Medium                   No
11         Low                   No
12      Medium                   No
13         Low                   No
14        High                  Yes
15         Low                   No
16         Low                   No
17        High                  Yes
18        High                   No
19        High                  Yes
20         Low                  Yes
21         Low                  Yes
22      Medium                   No
23         Low                   No
24         Low                  Yes
25         Low                  Yes
26         Low                  Yes
27        High                  Yes
28         Low                  Yes
29      Medium                   No
...        ...                  ...
6483       Low                  Yes
6484       Low                  Yes
6485      High                   No
6486    Medium                   No
6487       Low                  Yes
6488       Low                  Yes
6489       Low                  Yes
6490       Low                  Yes
6491      High                   No
6492       Low                  Yes
6493      High                  Yes
6494       Low                  Yes
6495       Low                  Yes
6496      High                   No
6497      High                   No
6498       Low                  Yes
6499       Low                   No
6500    Medium                   No
6501       Low                  Yes
6502      High                  Yes
6503      High                  Yes
6504      High                   No
6505       Low                   No
6506       Low                  Yes
6507       Low                   No
6508      High                   No
6509       Low                   No
6510      High                   No
6511      High                  Yes
6512      High                   No

[6513 rows x 11 columns]

In [4]:
traindf.columns

Index(['id', 'realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'expensive', 'money_back_guarantee', 'netgain'],
      dtype='object')

In [5]:
testdf.columns

Index(['id', 'realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'expensive', 'money_back_guarantee'],
      dtype='object')

In [6]:
traindf.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,Married-spouse-absent,Auto,Comedy,Male,45,Primetime,United-States,0.027465,High,No,False
1,31593,Married-civ-spouse,Pharma,Comedy,Male,45,Primetime,United-States,0.027465,Low,No,False
2,5681,Divorced,Entertainment,Comedy,Female,45,Primetime,United-States,0.027465,High,Yes,False
3,15491,Separated,Political,Infomercial,Female,40,Primetime,United-States,0.027465,Low,No,False
4,23587,Married-civ-spouse,Pharma,Comedy,Male,48,Primetime,United-States,0.027465,High,No,True

In [7]:
traindf.shape

(26048, 12)

In [8]:
testdf.shape

(6513, 11)

In [106]:
y_train= traindf.iloc[:, 11].values
print(y_train)

[False False False ...  True False False]

In [84]:
# encoding categorical net gain(dependent variable)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_y = LabelEncoder()
y_train = labelencoder_y.fit_transform(y_train)
z=y_train.reshape(-1,1)
y_train=z

In [13]:
features = ['id', 'realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'expensive', 'money_back_guarantee']
X_train = traindf[features]
X_train.head()
X_test = testdf[features]
X_test.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee
0,1,Widowed,Auto,Comedy,Female,10,Daytime,United-States,0.027465,Low,No
1,4,Married-civ-spouse,Pharma,Comedy,Male,40,Morning,United-States,0.056262,High,Yes
2,5,Divorced,Entertainment,Comedy,Female,50,Morning,United-States,0.027465,Low,No
3,9,Married-civ-spouse,Pharma,Infomercial,Male,40,Primetime,United-States,0.027465,Low,No
4,10,Married-civ-spouse,Pharma,Comedy,Male,40,Primetime,United-States,0.027465,Low,Yes

In [146]:
##ENCODING CATEGORICAL VARIABLES OF INDEPENDENT VARIABLES::
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

#encoding genre
genre_le= LabelEncoder()
genre_labels= genre_le.fit_transform(X_train['genre'])
X_train['Genre_Label']= genre_labels

#encoding targeted sex
targesex_le= LabelEncoder()
targesex_labels= targesex_le.fit_transform(X_train['targeted_sex'])
X_train['TargeSex_Label']= targesex_labels

#encoding airlocation
airloc_le= LabelEncoder()
airloc_labels= airloc_le.fit_transform(X_train['airlocation'])
X_train['Airlocation_Label']= airloc_labels

#encoding expensive
expense_le = LabelEncoder()
expense_labels =expense_le.fit_transform(X_train['expensive'])
X_train['Expense_Label'] = expense_labels

#encoding industry,airtime,relationship using dummies and one-hot encoding approach
ind_dummy_features = pd.get_dummies(X_train['industry'])
rel_dummy_features = pd.get_dummies(X_train['realtionship_status'])
airtime_onehot_features = pd.get_dummies(X_train['airtime'])
money_dummy_features =pd.get_dummies(X_train['money_back_guarantee'])

X_train =pd.concat([X_train[['TargeSex_Label','Airlocation_Label','Expense_Label']],
                    rel_dummy_features,ind_dummy_features,airtime_onehot_features,money_dummy_features], axis=1)
X_train.head()

,TargeSex_Label,Airlocation_Label,Expense_Label,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed,...,ClassAction,Entertainment,Other,Pharma,Political,Daytime,Morning,Primetime,No,Yes
0,1,39,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,1,39,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
2,0,39,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
3,0,39,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,1,0
4,1,39,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0

In [152]:
#encoding the test set

#encoding genre
genre_le= LabelEncoder()
genre_labels= genre_le.fit_transform(X_test['genre'])
X_test['Genre_Label']= genre_labels

#encoding targeted sex
targesex_le= LabelEncoder()
targesex_labels= targesex_le.fit_transform(X_test['targeted_sex'])
X_test['TargeSex_Label']= targesex_labels

#encoding airlocation
airloc_le= LabelEncoder()
airloc_labels= airloc_le.fit_transform(X_test['airlocation'])
X_test['Airlocation_Label']= airloc_labels

#encoding expensive
expense_le = LabelEncoder()
expense_labels =expense_le.fit_transform(X_test['expensive'])
X_test['Expense_Label'] = expense_labels

#encoding industry,airtime,relationship using dummies and one-hot encoding approach
ind_dummy_features = pd.get_dummies(X_test['industry'])
rel_dummy_features = pd.get_dummies(X_test['realtionship_status'])
airtime_onehot_features = pd.get_dummies(X_test['airtime'])
money_dummy_features =pd.get_dummies(X_test['money_back_guarantee'])

X_test =pd.concat([X_test[['TargeSex_Label','Airlocation_Label','Expense_Label']],
                    rel_dummy_features,ind_dummy_features,airtime_onehot_features,money_dummy_features], axis=1)
X_test.head()

,TargeSex_Label,Airlocation_Label,Expense_Label,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed,...,ClassAction,Entertainment,Other,Pharma,Political,Daytime,Morning,Primetime,No,Yes
0,0,38,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,1,38,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,0,38,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
3,1,38,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
4,1,38,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1

# UNIT-3: Data Visualisation

In [147]:
X_train.columns

Index(['TargeSex_Label', 'Airlocation_Label', 'Expense_Label', 'Divorced',
       'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent',
       'Never-married', 'Separated', 'Widowed', 'Auto', 'ClassAction',
       'Entertainment', 'Other', 'Pharma', 'Political', 'Daytime', 'Morning',
       'Primetime', 'No', 'Yes'],
      dtype='object')

In [148]:
X_train.shape

(26048, 21)

In [153]:
X_test.shape

(6513, 21)

In [138]:
y_train = np.array(y_train, dtype='float32')

# UNIT-4: Model Training

In [149]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\kshit\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [163]:
y_pred = classifier.predict(X_train)
y_pred.reshape(-1,1)

array([[0.],
       [0.],
       [0.],
       ...,
       [1.],
       [0.],
       [0.]], dtype=float32)

In [165]:
from sklearn.metrics import accuracy_score
score =  100*(accuracy_score(y_train,y_pred))
print(score)

76.32447788697789